<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-pen-to-square"></i>
                                Edit Contact Page
            </h1>

            <p style="text-align:justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit
                veritatis, fugiat impedit
                deleniti quidem totam quod culpa ex mollitia repellat nihil harum accusantium in, magni qui eius
                exercitationem molestiae officia.Z Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad
                provident maiores, ut incidunt dolor at veritatis quas tempora sapiente deserunt excepturi accusantium
                consectetur, dolorum distinctio cum odio numquam soluta accusamus! Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Dignissimos tempora fuga ab voluptatem quidem libero beatae saepe fugit,
                veritatis id illo! Libero incidunt placeat quas deserunt consequatur iste alias fugiat.
            </p>
        </div>
    </div>
    <!-- add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input name="cName" [(ngModel)]="contact.name" placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="cPhoto" [(ngModel)]="contact.photo" placeholder="Photo URL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="mail" [(ngModel)]="contact.email" placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="mobile" [(ngModel)]="contact.mobile" placeholder="Mobile" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="company" [(ngModel)]="contact.company" placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="title" [(ngModel)]="contact.title" placeholder="Title" type="text" class="form-control">
                    </div>
                   <div class="mb-2">
                    <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                        <option value="" selected hidden disabled>Select a group</option>
                        <option value="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                   </div>
                   <div class="mb-2">
                    <input value="Update" (click)="updateContact()" type="button" class="btn btn-success" >
                    <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                   </div>
                </form>
            </div>
            <div class="col-md-4">
                <!-- https://th.bing.com/th/id/R.fff6ab656f9c8921c6f077022940da05?rik=ekPyhZuhXs%2bbbg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_411575.png&ehk=yRY%2bQZ2I9NupNB1KxR4BffqxFehHbqNYeFXQgiyVQ2s%3d&risl=&pid=ImgRaw&r=0 -->
                <img [src]="contact.photo" alt="no image" class="contact_image mt-2">
            </div>
        </div>
    </div>
</div>